/*
  Variables
*/
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');


warm = #DE744C
green = #BFD8D2
offwhite = #fafafa
lightgrey  = #EDEEED
lightgray = lightgrey // OH Canada!

html
  font-size 10px
  font-family sans-serif

p
  font-size 1.6rem
  line-height 1.5

h1
  font-family 'Lobster Two'
  text-align center
  font-weight 100
  font-size 13rem
  margin 2rem 0
  letter-spacing -1px
  a
    color warm
    text-decoration none
    &:focus
      outline 0
